@mixin flex($ai: start, $jc: start, $fd: row , $gap: normal) {
    display: flex;
    align-items: $ai;
    justify-content: $jc;
    flex-direction: $fd;
    gap: $gap;
}

@mixin position($ps: static, $tp: auto, $lt: auto, $zi: 0) {
    position: $ps;
    top: $tp;
    left: $lt;
    z-index: $zi;
}

@mixin font($ff, $fw, $fs: 16px) {
    font-family: $ff;
    font-weight: $fw;
    font-size: $fs;
}

@mixin spacer(){
    margin-left: auto;
    margin-right: auto;
    width: 78vw;
}